body {
  background-image: url(../img/whiteHDBG.jpg);
}

.header {
  background-color: #082b24;
}

.header-nav {
  box-shadow: 0 3px 3px 0;
  background-image: linear-gradient(to right, #1abc9c,#169e82,#12816b,#149077,#10715e,#0e6151,#0c5043);
  border-radius: 0 0 10px 10px;
}

.about-author img {
  border-radius: 50%;
}

.footer {
  background-color: #2f2f2f;
}

.accordion {
  background-color: #222;
  border: none;
  transition-duration: 2s;
}

.panel {
  background-color: #222;
  display: none;
  overflow: hidden;
  opacity: 0.75;
  transition-duration: 2s;
}

.active, .accordion:hover {
  background-color: #000;
  transform: scaleX(1.1);
  border-radius: 10px;
}

.overlay {
    opacity: 0;
    transition: .5s ease;
    background-color: #484d4eb3;
    border-radius: 50%;
}

.about-author:hover .overlay {
   opacity: 1;
}

.overlay-text {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.resume-box > iframe {
  resize: vertical;
}

.about-content {
  background-color: #222;
  opacity: 0.75;
  border-radius: 20px;
}
